<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Product Search Suite">
    <listeners>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
        <listener class-name="com.automation.base.ListenerClass" />

    </listeners>
    <test name="ProductSearchTests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.ProductSearchTests"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->